body {
    background-color: grey;
    padding: 3rem;
}

container {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 10px;
    /* 
 
    ^(;,;)^ : Fragmento perdido

   */
}

button {
    border: 3px solid darkgrey;
}

box {
    background-color: #1e0;
    border: 3px solid #AABBAA;
    transition-duration: 0.4s;
    /* 
 
    ^(;,;)^ : Fragmento perdido

   */
    border-radius: 10px;
}

.evoluciona {
    background-color: #e10;
    transform: translateX(110px);
    /* 
 
    ^(;,;)^ : Fragmento perdido

   */
}

.desevoluciona {
    background-color: #10e;
    /* 
 
    ^(;,;)^ : Fragmento perdido

   */
}

.ultimate {
    background-color: #441155;
    width: 94%;
    height: 94%;
    content: url("../img/cthulhu.svg");
    /* 
 
    ^(;,;)^ : Fragmento perdido

   */
}

.ultimate:hover {
    transform: scale(1.4);
    /* 
 
    ^(;,;)^ : Fragmento perdido

   */
}