.pantalla {
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 3;
    justify-content: center;
    align-items: center;
    grid-template-areas: "level level level level vacio" "score puntos vidas divVidas vacio" "mapa mapa mapa mapa leyenda";
    font-size: 30px;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(64, 64, 172);
}

.partidaPerdida {
    display: none;
}

.gameOver {
    position: absolute;
    top: 33%;
    bottom: 33%;
    left: 15%;
    right: 15%;
    object-fit: cover;
    border: 1px solid red;
    background-color: salmon;
    text-align: center;
    line-height: 80px;
    z-index: 999;
}

.leyenda {
    display: grid;
    grid-area: leyenda;
    grid-template-rows: repeat(8, 63px);
    margin-left: 10px;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
}

.contenedorLlave {
    display: grid;
    grid-template-areas: "imagenLlave llaveEncontrada";
}

.llave {
    grid-area: imagenLlave;
    justify-self: right;
    height: 50px;
    width: 50px;
    border: 5px solid black;
    border-radius: 10px 10px 10px 10px;
    content: url('../img/key.png');
    margin-right: 5px;
}

.llaveEncontrada {
    grid-area: llaveEncontrada;
    justify-self: left;
    align-self: center;
    height: 25px;
    width: 25px;
    border: 5px solid black;
    border-radius: 10px 10px 10px 10px;
    content: url('../img/wrong.png');
    background-color: white;
}

.llaveEncontradaTrue {
    grid-area: llaveEncontrada;
    justify-self: left;
    align-self: center;
    height: 25px;
    width: 25px;
    border: 5px solid black;
    border-radius: 10px 10px 10px 10px;
    content: url('../img/check.png');
    background-color: white;
}

.contenedorUrna {
    display: grid;
    grid-template-areas: "imagenUrna urnaEncontrada";
}

.urna {
    grid-area: imagenUrna;
    justify-self: right;
    height: 50px;
    width: 50px;
    border: 5px solid black;
    border-radius: 10px 10px 10px 10px;
    content: url('../img/fresa.png');
    margin-right: 5px;
}

.urnaEncontrada {
    grid-area: urnaEncontrada;
    justify-self: left;
    align-self: center;
    height: 25px;
    width: 25px;
    border: 5px solid black;
    border-radius: 10px 10px 10px 10px;
    content: url('../img/wrong.png');
    background-color: white;
}

.urnaEncontradaTrue {
    grid-area: urnaEncontrada;
    justify-self: left;
    align-self: center;
    height: 25px;
    width: 25px;
    border: 5px solid black;
    border-radius: 10px 10px 10px 10px;
    content: url('../img/check.png');
    background-color: white;
}

.contenedorEnemigos {
    display: grid;
    grid-template-areas: "imagenEnemigo cantidadEnemigos";
}

.enemigos {
    grid-area: imagenEnemigo;
    justify-self: right;
    height: 50px;
    width: 50px;
    border: 5px solid black;
    border-radius: 10px 10px 10px 10px;
    content: url('../img/mummy.gif');
    margin-right: 5px;
}

.cantidadEnemigos {
    grid-area: cantidadEnemigos;
    justify-self: left;
    align-self: center;
}

.contenedorPergamino {
    display: grid;
    grid-template-areas: "imagenPergamino pergaminoEncontrado";
}

.pergamino {
    grid-area: imagenPergamino;
    justify-self: right;
    height: 50px;
    width: 50px;
    border: 5px solid black;
    border-radius: 10px 10px 10px 10px;
    content: url('../img/pergamino.gif');
    margin-right: 5px;
}

.pergaminoEncontrado {
    grid-area: pergaminoEncontrado;
    justify-self: left;
    align-self: center;
    height: 25px;
    width: 25px;
    border: 5px solid black;
    border-radius: 10px 10px 10px 10px;
    content: url('../img/wrong.png');
    background-color: white;
}

.pergaminoEncontradoTrue {
    grid-area: pergaminoEncontrado;
    justify-self: left;
    align-self: center;
    height: 25px;
    width: 25px;
    border: 5px solid black;
    border-radius: 10px 10px 10px 10px;
    content: url('../img/check.png');
    background-color: white;
}

.level {
    display: flex;
    grid-area: level;
    align-items: center;
    justify-content: center;
    width: 4fr;
    height: 100%;
}

.score {
    display: flex;
    grid-area: score;
    align-items: center;
    justify-content: flex-end;
    width: 210px;
    height: 60px;
}

.puntos {
    display: flex;
    grid-area: puntos;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 60px;
}

.vidas {
    display: flex;
    grid-area: vidas;
    align-items: center;
    justify-content: flex-end;
    width: 210px;
    height: 60px;
}

.divVidas {
    display: flex;
    grid-area: divVidas;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 60px;
}

.mapa {
    grid-area: mapa;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(14, 1fr);
}

.camino {
    background-color: black;
}

.caminoPisado {
    content: url("../img/ball.png");
    height: 100%;
    width: 100%;
}

.personajeTop {
    content: url("../img/pj.gif");
    transform: rotate(-90deg);
    height: 100%;
    width: 100%;
}

.personajeRight {
    content: url("../img/pj.gif");
    height: 100%;
    width: 100%;
}

.personajeBottom {
    content: url("../img/pj.gif");
    transform: rotate(90deg);
    height: 100%;
    width: 100%;
}

.personajeLeft {
    content: url("../img/pj.gif");
    transform: rotate(180deg);
    height: 100%;
    width: 100%;
}

.momia {
    content: url('../img/mummy.gif') !important;
    height: 100%;
    width: 100%;
}

.muro {
    background-color: rgb(64, 64, 172);
}

.muroRevelado {
    background-color: brown;
}

.muroCentralLlave {
    content: url('../img/key.png');
}

.muroCentralUrna {
    content: url('../img/fresa.png');
}

.muroCentralMomia {
    content: url('../img/mummy.gif');
}

.muroCentralCofre {
    content: url('../img/cherry.png');
}

.muroCentralPergamino {
    content: url('../img/pergamino.gif');
}

.vida {
    content: url('../img/vida.png');
    height: 30px;
    width: 30px;
}

.mapa div {
    height: 40px;
    width: 40px;
}