.pantalla {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 3;
    justify-content: center;
    align-items: center;
    grid-template-areas: "level level level level" "score puntos vidas divVidas" "mapa mapa mapa mapa";
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: orange;
}

.level {
    display: flex;
    grid-area: level;
    align-items: center;
    justify-content: center;
    width: 4fr;
    height: 100%;
}

.score {
    display: flex;
    grid-area: score;
    align-items: center;
    justify-content: flex-end;
    width: 210px;
    height: 100px;
    font-size: 30px;
}

.puntos {
    display: flex;
    grid-area: puntos;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 100px;
    font-size: 30px;
}

.vidas {
    display: flex;
    grid-area: vidas;
    align-items: center;
    justify-content: flex-endd;
    width: 210px;
    height: 100px;
    font-size: 30px;
}

.divVidas {
    display: flex;
    grid-area: divVidas;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 100px;
    font-size: 30px;
}

.mapa {
    grid-area: mapa;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(14, 1fr);
}

.camino {
    background-color: black;
}

.personajeTop {
    content: url("../img/pj.gif");
    transform: rotate(-90deg);
    height: 100%;
    width: 100%;
}

.personajeRight {
    content: url("../img/pj.gif");
    height: 100%;
    width: 100%;
}

.personajeBottom {
    content: url("../img/pj.gif");
    transform: rotate(90deg);
    height: 100%;
    width: 100%;
}

.personajeLeft {
    content: url("../img/pj.gif");
    transform: rotate(180deg);
    height: 100%;
    width: 100%;
}

.momia {
    content: url('../img/mummy.gif') !important;
    height: 100%;
    width: 100%;
}

.muro {
    background-color: orange;
}

.muroRevelado {
    background-color: brown;
}

.muroCentralLlave {
    content: url('../img/key.png');
}

.muroCentralUrna {
    content: url('../img/fresa.png');
}

.muroCentralMomia {
    content: url('../img/mummy.gif');
}

.muroCentralCofre {
    content: url('../img/cherry.png');
}

.muroCentralPergamino {
    content: url('../img/pergamino.gif');
}

.caminoPisado {
    content: url("../img/ball.png");
    height: 100%;
    width: 100%;
}

.mapa div {
    height: 40px;
    width: 40px;
}