/*Colores*/

:root {
    --yellow: #ffc600;
    --black: #272727;
    --grey: #A1A1A1;
}

html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
    font-size: 10px;
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}


/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/


/*(*)Todos los elementos*/

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-image: url("./topography.svg"), linear-gradient(110deg, #f93d66, #6d47d9);
    background-size: 340px, auto;
    min-height: calc(100vh - 100px);
    margin: 50px;
    /* background: white; */
    background-attachment: fixed;
    letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 5px 0;
    text-align: center;
}


/* Each item in our grid will contain numbers */

.item {
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-size: 35px;
    background-color: var(--yellow);
    /* best colour */
}

.item p {
    margin: 0 0 5px 0;
}

.container {
    display: grid;
    /*Total de partes: 1/6 + 2/6 + 1/6 + 2/6 = 6/6*/
    grid-template-columns: 1fr 2fr 1fr 2fr;
    /*Espaciado entre filas(20px) y columnas(20px)*/
    grid-gap: 20px 20px;
    margin-top: 20px;
}

.item2 {
    /*Las columnas que ocupa(combinarCeldas)*/
    grid-column: span 3;
}

.item:nth-child(odd) {
    background-color: var(--grey);
}

.item:nth-child(odd):hover {
    /* X | Y | blur | esparcimiento */
    box-shadow: 10px 10px;
}

.item:nth-child(odd):hover+.item:nth-child(even) {
    box-shadow: 10px 10px;
}

#SealOfApproval {
    background-image: url("../UD02/Practicas/imagenes/cthulhu_approval.gif");
    /*Tamaños de la imagen, no aparece si no tiene estas propiedades*/
    width: 200px;
    height: 200px;
    /*Se queda fijada en la pantalla del usuario aunque haya un scrollbar*/
    position: fixed;
    /*Posición de la imagen en la pantalla*/
    bottom: -100px;
    right: -100px;
}