#containerTop {
    width: 100%;
    height: 230px;
}

#logo {
    width: 15%;
    display: inline-block;
    white-space: nowrap;
}

#login {
    float: right;
}

#navigation {
    background-color: #F2B705;
}

.listaNav{
    display: inline;
    margin-right: 20px;
    margin: 0%;
    padding: 0%;
}

.listaNav img {
    width: 30px;
}

.listaNav a {
    font-size: 42px;
}


