#containerTop {
    width: 100%;
    height: 230px;
}

#logo {
    width: 15%;
    float: left;
    display: inline-block;
    white-space: nowrap;
}

#login {
    float: right;
    margin: 45px 2% 0 0;
}

#navigation {
}

.listaNav{
    display: inline;
    margin-right: 20px;
}


